.navbar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 2px solid hsl(223, 64%, 98%);
  padding-bottom: 1rem;
  z-index: 0;
}
.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
  display: none;
  /*visibility: hidden; */
  margin-right: 1rem;
}
.line {
  width: 1.5rem;
  height: 0.3rem;
  background-color: hsl(219, 9%, 45%);
}

ul {
  display: flex;

  gap: 2rem;
  padding-left: 0;

  /* margin-left: -10rem; */
}
li {
  /* margin-right: 1rem; */

  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  cursor: pointer;
}
.right-nav {
  position: relative;
  display: flex;
  align-items: center;
}
.cart-div {
  display: flex;
  position: relative;
}
.dropdown {
  position: relative;
  flex-direction: column;
}
.cart {
  transform: scale(1.8);
  margin-left: 1.5rem;
  cursor: pointer;
}
.cartcontent {
  position: absolute;
  top: 10rem;
  z-index: 10;
  /* display: none; */
}
.cart-num {
  position: absolute;
  top: -0.5rem;
  /* right: 0px; */
  color: #fff;
  background-color: hsl(26, 100%, 55%);
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-left: 1.5rem;
  cursor: pointer;
}
.avatar:hover {
  border-radius: 50%;
  border: 2px solid hsl(26, 100%, 55%);
}
.rightnavcol {
  flex-direction: column;
}
.slide-menu {
  display: flex;
}
@media screen and (max-width: 760px) {
  .navbar {
    padding: 0 1.5rem;
  }
  .slide-menu {
    /* display: flex;
    flex-direction: column; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100%;
    padding: 2rem;
  }
  .menu {
    /* background-color: black; */
    background-color: rgb(0, 0, 0, 0.7);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 10000;
  }
  .hamburger {
    display: flex;
    /* visibility: visible; */
  }
  img#menuCloseBtn {
    transition: transform 0.5s ease;
  }
  img#menuCloseBtn:hover {
    cursor: pointer;
    transform: rotate(90deg);
  }
  ul {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* gap: 2.3rem; */
    padding-left: 0;
    margin-left: 0;

    /* margin-left: -10rem; */
  }
  li {
    font-size: 20px;
    font-weight: 700;
  }
  .cartcontent {
    width: 100%;
    visibility: hidden;
  }

  .hidden {
    display: none;
  }
}
